body {
    background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
 }
 
 main {
   background-color: rgb(235,235,235);
   display: block;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 1px; 
   margin-right: 1px;
 }
 
 #title {
   text-align: center;
   
 }
 
 #img-div {
   background-color: white;
  margin-left: 14px; 
   margin-right: 14px;
 }
 img {
   max-width: 100%;
   align-items: center;
   display: block;
   padding: 20px 200px 20px 150px;
 
 }
 
 #img-caption {
  padding: 2px 150px 2px 150px;
  display: inline
 }
 
 #tribute-title{
   text-align: center;
 }
 
 ul {
    padding: 20px 150px 20px 150px;
    margin: 0 150px 0 150px; 
 }
 
 li{
  padding: 20px 0 20px 0;
 }
 
 #quote {
   padding: 10px 200px 10px 250px;
 }
 
 #more-info {
  padding: 0 150px 0 150px;
 }

 a{
    color:rgb(70, 77, 170);
 }